.custom-font{
    font-family: 'Times New Roman', Times, serif;
}

.heading{
    font-family: Courier, monospace;
    font-weight: 800;
}

.productCardImages{
    width: 100%;
    height: 200px;
}


@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }