/* .twobutton {
    display: none;
}  */

@media (min-width: 773px) {
    .twobutton {
      display: none;
    }
  }

  
/* @media (max-width: 773px) {

    .twobutton {
        display: flex;
        justify-content: center;
        align-items: center;
      }

} */